// MV
.p-mainvisual {
  width: 100%;

  @include mq(lg) {
    max-width: 1400px;
    margin: auto;
  }

  &__inner {
    @include mq(lg) {
      position: relative;
      width: 74%;
      max-width: 1037px;
      margin-left: auto;
    }
  }

  &__image {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      box-shadow: inset 0 0 16px 16px $color-white;
    }
  }

  &__text {
    margin-top: 10px;
    letter-spacing: 0.1em;

    @include mq(lg) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      z-index: 3;
      margin-top: 0;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.6;

    @include mq(lg) {
      font-size: 4.6rem;
    }
  }

  &__button {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 9px 30px;
    background-color: $theme-color;
    border-radius: 10px;
    box-shadow: 0 5px 0 0 $theme-color-dark;
    color: $color-white;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;

    @include mq(lg) {
      margin-top: 30px;
      width: 480px;
      transition: $transition;

      &:hover {
        transform: scale(1.05);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 30px;
      display: block;
      width: 16px;
      height: 16px;
      border-right: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

// BBBが選ばれる理由
$sp-side-margin: convert-vw(16px);

.p-reason {
  margin-top: 40px;
  padding: 40px 0;
  background-color: $theme-color;

  @include mq(lg) {
    margin-top: 80px;
    padding: 80px 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    width: calc(100% - #{$sp-side-margin});
    background-color: $color-white;
    padding: 24px 20px;
    transition: transform 1s;

    @include mq(lg) {
      justify-content: center;
      width: 50%;
      padding: 70px 0;
    }

    &:first-child {
      margin-right: auto;
      border-radius: 0 20px 20px 0;
      transform: translateX(-100%);

      &::before {
        content: '';
        display: block;
        flex: 0 0 87px;
        width: 87px;
        height: 60px;
        background: url('/img/ico_reason_online.png') no-repeat center/contain;
      }
    }

    &:last-child {
      margin-top: 40px;
      margin-left: auto;
      border-radius: 20px 0 0 20px;
      transform: translateX(100%);

      &::before {
        content: '';
        display: block;
        flex: 0 0 51px;
        width: 51px;
        height: 60px;
        background: url('/img/ico_reason_teacher.png') no-repeat center/contain;
      }
    }

    &.is-show {
      // &:nth-child(odd) {
      transform: translateX(0);
      // }
    }
  }

  &__text {
    margin-left: 30px;
    font-size: 1.8rem;

    &--color {
      display: block;
      font-size: 2.4rem;
      color: $theme-color;

      @include mq(lg) {
        font-size: 2.8rem;
        font-weight: bold;
      }
    }
  }
}
