html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title BBB 英会話スクール
    link(rel="stylesheet", href="./css/styles.css")

  body.top
    include ./_include/_logo.pug

    include ./_include/_header.pug

    main.l-content
      .p-mainvisual
        .p-mainvisual__inner
          .swiper-container
            .swiper-wrapper
              - for (let i = 1; i < 5; i++)
                .swiper-slide.p-mainvisual__image
                  img(src=`/img/pic_mainvisual0${i}.jpg`, srcset=`/img/pic_mainvisual0${i}.jpg 1x, /img/pic_mainvisual0${i}@2x.jpg 2x`, alt="")
          .l-content__inner
            .p-mainvisual__text
              h1.p-mainvisual__title
                | 話して学ぼう！
                br
                | BBB英会話スクール
              a.p-mainvisual__button(href="#") 無料体験はこちら

      section.l-content__section
        h2.l-content__title BBBが選ばれる理由
        .p-reason
          ul.p-reason__list
            li.p-reason__item.js-scrollShow
              p.p-reason__text
                span.p-reason__text--color オンライン対応
                | 24時間いつでも受講できる！
            li.p-reason__item.js-scrollShow
              p.p-reason__text
                span.p-reason__text--color 講師はネイティブ
                | お気に入りの講師が自由に選べる！

      section.l-content__section
        h2.l-content__title 受講生の声
        .p-voice.l-content__inner
          ul.p-voice__list
            li.p-voice__item.js-scrollShow
              .p-voice__text.p-voice__text--left
                | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .p-voice__student
                .p-voice__image
                  img(src="/img/ico_voice01.svg", alt="")
                p.p-voice__name
                  | ○○○さん
                  br
                  | 大学生
            li.p-voice__item.js-scrollShow
              .p-voice__text.p-voice__text--right
                | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .p-voice__student
                .p-voice__image
                  img(src="/img/ico_voice02.svg", alt="")
                p.p-voice__name
                  | ○○○さん
                  br
                  | 会社員
            li.p-voice__item.js-scrollShow
              .p-voice__text.p-voice__text--left
                | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .p-voice__student
                .p-voice__image
                  img(src="/img/ico_voice03.svg", alt="")
                p.p-voice__name
                  | ○○○さん
                  br
                  | 自営業

      section.l-content__section.p-outline
        h2.l-content__title スクールの概要
        .l-content__inner
          ul.p-outline__list
            li.p-outline__item
              h3.p-outline__title
                | レッスン内容
                span.p-outline__title--en LESSON
              p.p-outline__text テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            li.p-outline__item
              h3.p-outline__title
                | 料金プラン
                span.p-outline__title--en PRICE
              p.p-outline__text テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            li.p-outline__item
              h3.p-outline__title
                | 講師のご紹介
                span.p-outline__title--en TEACHER
              p.p-outline__text テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            li.p-outline__item
              h3.p-outline__title
                | BBBのQ&A
                span.p-outline__title--en Q&A
              p.p-outline__text テキストテキストテキストテキストテキストテキストテキストテキストテキスト


    include ./_include/_footer.pug

    script(src="./js/bundle.js")
