html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title BBB 英会話スクール
    link(rel="stylesheet", href="./css/styles.css")

  body
    include ./_include/_logo.pug

    include ./_include/_header.pug

    main
      div(style="height: 2000px")

    include ./_include/_footer.pug

    script(src="./js/bundle.js")
