.l-footer {
  background-color: $color-bg-gray;
  padding: 60px 16px 20px;

  &__nav {
    margin-top: -30px;

    @include mq(lg) {
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin-top: -30px;
    padding: 0;

    @include mq(lg) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 50%;
    margin-top: 30px;
  }

  &__link {
    color: $color-black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;

    @include mq(lg) {
      font-size: 1.6rem;
      @include hover(opa);
    }
  }

  &__childList {
    list-style: none;
    margin: 4px 0 0;
    padding-left: 10px;
  }

  &__childLink {
    color: $color-black;
    text-decoration: none;
    font-size: 1.2rem;

    @include mq(lg) {
      font-size: 1.6rem;
      @include hover(opa);
    }
  }

  &__copyright {
    margin-top: 60px;
    text-align: center;
    font-size: 1.2rem;
  }
}
